<%- include("partials/header"); -%>

    <form class="form-signin" action="/" method="post">
      <img src="images/profile.png" alt="" width="72" height="72" draggable="false">
      <h1 class="">Singup to My Newsletter!</h1>
      <input type="text" class="form-control top" placeholder="First Name" name="firstName" required autofocus>
      <input type="text"  class="form-control middle" placeholder="Last Name" name="lastName" required>
      <input type="email" class="form-control bottom" placeholder="Email address" name="email" required>
      <button class="btn btn-dark btn-lg btn-block" type="submit">Sign me up!!</button>
      
    </form>
    
  <%- include("partials/footer"); -%>